@model IEnumerable<Final.Models.Borrower>

@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<form asp-controller="Borrowers" asp-action="Index" method="get">
    <div class="form-group" style="display: flex">
        <input type="text" name="name" class="form-control" style="flex: 1; margin-right: 10px; margin-left: 800px"
               placeholder="Enter search term...">
        <button style="flex: 0" type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibraryCardNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LibraryCardNumber)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav class="d-flex justify-content-center @(ViewBag.TotalPages > 0 ? "" : "d-none")">
    <ul class="pagination pagination-sm">
        <li class="page-item @(ViewBag.CurrentPage <= 1 ? "disabled" : "")">
            <a class="page-link"
               asp-route-pageNumber="@(ViewBag.CurrentPage - 1)"
               asp-route-name="@ViewBag.Name"
               aria-label="Previous">
                <span aria-hidden="true">
                    <i class="bi bi-chevron-double-left"></i>
                </span>
            </a>
        </li>
        @for(var i = 0; i < ViewBag.TotalPages; i++)
        {
            var pageNumber = i + 1;
            <li class="page-item @(ViewBag.CurrentPage == pageNumber ? "active" : "")">
                <a class="page-link"
                   asp-route-pageNumber="@pageNumber"
                   asp-route-name="@ViewBag.Name">
                    @pageNumber
                </a>
            </li>
        }
        <li class="page-item @(ViewBag.CurrentPage >= ViewBag.TotalPages ? "disabled" : "")">
            <a class="page-link"
               asp-route-title="@ViewBag.Title"
               asp-route-pageNumber="@(ViewBag.CurrentPage + 1)"
               aria-label="Next">
                <span aria-hidden="true">
                    <i class="bi bi-chevron-double-right"></i>
                </span>
            </a>
        </li>
    </ul>
</nav>
