@*@model List<HistoryViewModel>

<h1>Lịch sử mượn</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>BorrowerId</th>
            <th>BorrowDate</th>
            <th>Status</th>
            <th>TotalPrice</th>
            <th>BorrowItems</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var history in Model)
        {
            <tr>
                <td>@history.Id</td>
                <td>@history.BorrowerId</td>
                <td>@history.BorrowDate</td>
                <td>@history.Status</td>
                <td>
                    <ul>
                        @foreach(var borrowItem in history.BorrowItems)
                        {
                            <li>@borrowItem.Item.Title (@borrowItem.Quantity x @borrowItem.Cost)</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
*@